* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid silver;
  padding: 10px 0;
}

li {
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  color: grey;
}

.logoAndName {
  display: flex;
  gap: 10px;
}

.home {
  text-decoration: none;
  color: gray;
}

.link {
  text-decoration: none;
  color: silver;
  font-size: 17px;
  margin: 40px;
  font-weight: bolder;
}

@media (max-width: 841px) {
  li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: grey;
  }

  .link {
    text-decoration: none;
    color: silver;
    font-size: 17px;
    margin: 10px;
    font-weight: bolder;
  }
}

@media (max-width: 633px) {
  li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: grey;
  }

  .link {
    text-decoration: none;
    color: silver;
    font-size: 17px;
    margin: 1px;
    font-weight: bolder;
  }
}

@media (max-width: 490px) {
  li {
    display: inline-block;
    margin: 1px;
    cursor: pointer;
    color: grey;
  }

  .link {
    text-decoration: none;
    color: silver;
    font-size: 17px;
    margin: 10px;
    font-weight: bolder;
  }
}

@media (max-width: 399px) {
  .home {
    font-size: 10px;
  }
  li {
    display: inline-block;
    margin: 0px;
    cursor: pointer;
    color: grey;
  }
  .logoAndName {
    display: flex;
    gap: 5px;
    margin-right: -25px;
  }
}
